@model OctaShape.Data.Card_Requested

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Card_Requested</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Card_RequestDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Card_RequestDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Request_StardDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Request_StardDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Request_EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Request_EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total_CardsRequested)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total_CardsRequested)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Request_By)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Request_By)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Card_Received.Received_By)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Card_Received.Received_By)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Request_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
