@model OctaShape.Data.Card_Received

@{
    ViewBag.Title = "Card Information System - Card Received ";
    Layout = "~/Areas/CardInformationSystem/Views/Shared/_AdminLayout.cshtml";
}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"> Add Card Received Record</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
           
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @Html.HiddenFor(model=>model.Card_Requested.FirstOrDefault().Card_ReceivedId)

            <div class="form-group">
                @Html.LabelFor(model => model.Received_Date, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Received_Date, new { htmlAttributes = new { @class = "form-control" } }) [Format:YYYY-MM-DD]
                    @Html.ValidationMessageFor(model => model.Received_Date, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Total_CardsReceived, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Total_CardsReceived, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Total_CardsReceived, "", new { @class = "text-danger" })
                </div>
            </div>

            

            <div class="form-group">
                @Html.LabelFor(model => model.IsPin_Received, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.IsPin_Received)
                        @Html.ValidationMessageFor(model => model.IsPin_Received, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </div>
        </div>
    }

    
    </div>