
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="eTicketSystem - A Complete Support Ticket System">
    <meta name="author" content="Jashmin Shrestha">
    <meta name="keyword" content="eTicketSysetm, Dashboard, Admin, Template, Theme, Bootstrap, Responsive, Retina, Minimal">
    <link rel="shortcut icon" href="~/img/favicon.png">
    <title>eTicketySupportSystem</title>


    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <!-- bootstrap theme -->
    <link href="~/css/bootstrap-theme.css" rel="stylesheet">
    <!--external css-->
    <!-- font icon -->
    <link href="~/css/elegant-icons-style.css" rel="stylesheet" />
    <link href="~/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <!-- full calendar css-->
    <link href="~/assets/fullcalendar/fullcalendar/bootstrap-fullcalendar.css" rel="stylesheet" />
    <!-- easy pie chart-->
    <link href="~/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.css" rel="stylesheet" type="text/css" media="screen" />
    <!-- owl carousel -->
    <link rel="~/stylesheet" href="css/owl.carousel.css" type="text/css">
    <!-- Custom styles -->
    <link href="~/css/style.css" rel="stylesheet">
    <link href="~/css/style-responsive.css" rel="stylesheet" />
</head>
<body>



    <!-- container section start -->
    <section id="container" class="">
        <!--header start-->

        <header class="header white-bg">
            <div class="toggle-nav">
                <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom"></div>
            </div>

            <!--logo start-->
            <a href="../Admin/DashBoard" class="logo">eTicket<span>Support</span> <span class="lite">V 1.0</span></a>
            <!--logo end-->
            <div class="nav search-row" id="top_menu">
                <!--  search form start -->
                <ul class="nav top-menu">
                    <li>
                        <form class="navbar-form">
                            <input class="form-control" placeholder="Search" type="text">
                        </form>
                    </li>
                </ul>
                <!--  search form end -->
            </div>

        @*
            <div class="top-nav notification-row">
                <!-- notificatoin dropdown start-->
                <ul class="nav pull-right top-menu">

                    <!-- task notificatoin start -->
                    <li id="mail_notificatoin_bar" class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <i class="icon-envelope-l"></i>
                            <span class="badge bg-important">  @ViewBag.Ticketcount  </span>
                        </a>
                        <ul class="dropdown-menu extended inbox">
                            <div class="notify-arrow notify-arrow-blue"></div>
                            <li>
                                <p class="blue"></p>
                            </li>
                          

                            @foreach (var item in ViewBag.PendingTickets)
                            {


                                <li>
                                    <a href="#">
                                        <span class="subject">
                                            <span class="from">@item.Title</span>
                                            <span class="time">@item.AssignedBy</span>
                                        </span>
                                        <span class="message">
                                            @item.Description
                                        </span>
                                    </a>
                                </li>
                            }
                            <li>
                                <a href="../Admin/ViewMyTicket">See all Pending Tickets</a>
                            </li>

                        </ul>


                    </li>




                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="profile-ava">

                                <!-- Call User Image in this box-->
                                <img alt="" src="../../../../img/avatar1_small.jpg">

                            </span>

                            <!--Call Username on this box-->

                            <span class="username"> @((ViewBag.UserDetails as ICollection<OctaShape.Data.GetAllUserDetails_Result>).First().UserName) </span>

                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu extended logout">
                            <div class="log-arrow-up"></div>
                            <li class="eborder-top">
                                <a href="../Profile/MYProfile"><i class="icon_profile"></i> My Profile</a>
                            </li>


                            <li>
                                @Html.ActionLink("Log Out", "Logoff", "Home", null, new { htmlAttributes = new { @class = "icon_key_alt" } })

                            </li>
                            <li>
                                @Html.ActionLink("Reset Password", "ChangePassword", "Account", null, new { htmlAttributes = new { @class = "icon_key_alt" } })

                            </li>
                            <li>
                                <a href="../Admin/ViewMyTicket"><i class="icon_key_alt"></i> My Tickets</a>

                            </li>

                        </ul>
                    </li>
                </ul>
                <!-- user login dropdown end -->
                <!-- notificatoin dropdown end-->
            </div>
*@
            @Html.Action("CommonAdmin", "Admin")
        </header>
        <!--header end-->

        <!--sidebar start-->
        <aside>
            <div id="sidebar" class="nav-collapse ">
                <!-- sidebar menu start-->
                <ul class="sidebar-menu">
                    <li class="active">
                        <a class="" href="~/eTicketSystem/Admin/DashBoard">
                            <i class="icon_house_alt"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li class="sub-menu">
                        <a href="javascript:;" class="">
                            <i class="icon_desktop"></i>
                            <span>User</span>
                            <span class="menu-arrow arrow_carrot-right"></span>
                        </a>
                        <ul class="sub">
                            <li><a class="" href="~/eTicketSystem/Users/Index">Details</a></li>
                            <li><a class="" href="~/eTicketSystem/UserStatus/Index">User Status</a></li>

                            
                            <li><a class="" href="~/eTicketSystem/Account/ChangePassword">Reset Password</a></li>

                        </ul>
                    </li>

                    <!--  -->
                    <li>
                        <a class="" href="~/eTicketSystem/Roles/Index">
                            <i class="icon_genius"></i>
                            <span>Roles</span>
                        </a>
                    </li>


                    <!--  -->
                    <li>
                        <a class="" href="~/eTicketSystem/TicketBranches/Index">
                            <i class="icon_genius"></i>
                            <span>Branches</span>
                        </a>
                    </li>
                    <!---->

                    <li>
                        <a class="" href="~/eTicketSystem/TicketStatus/Index">
                            <i class="icon_genius"></i>
                            <span>TicketStatus</span>
                        </a>
                    </li>

                    <!--  -->
                    <li>
                        <a class="" href="~/eTicketSystem/TicketCategories/Index">
                            <i class="icon_genius"></i>
                            <span>Ticket Category</span>
                        </a>
                    </li>

                    <!--  -->
                    <li>
                        <a class="" href="~/eTicketSystem/TicketPriorities/Index">
                            <i class="icon_genius"></i>
                            <span>Ticket Priority</span>
                        </a>
                    </li>

                    <!--   -->
                    <li class="sub-menu">
                        <a href="javascript:;" class="">
                            <i class="icon_genius"></i>
                            <span>Tickets</span>
                            <span class="menu-arrow arrow_carrot-right"></span>
                        </a>
                        <ul class="sub">
                            <li><a class="" href="~/eTicketSystem/Admin/CreateTicket">Issue New Ticket</a></li>
                            <li><a class="" href="~/eTicketSystem/Admin/GetTicketList">Assign Ticket To User</a></li>
                            <li><a class="" href="~/eTicketSystem/Admin/ViewTicket">View Tickets</a></li>
                            <li><a class="" href="~/eTicketSystem/Admin/ViewTicket">Change Ticket Status</a></li>
                            <li><a class="" href="~/eTicketSystem/Admin/ViewTicket">Change Ticket Priority</a></li>
                        </ul>
                    </li>

                    <li class="sub-menu">
                        <a href="javascript:;" class="">
                            <i class="icon_genius"></i>
                            <span>Reports</span>
                            <span class="menu-arrow arrow_carrot-right"></span>
                        </a>
                        <ul class="sub">
                            <li><a class="" href="~/eTicketSystem/Admin/PieChart">PieChart</a></li>

                        </ul>
                    </li>


                </ul>
                <!-- sidebar menu end-->
            </div>
        </aside>

        <!--sidebar end-->
        <!--main content start-->
        <section id="main-content">
            <section class="wrapper">
                <!-- page start-->

                @RenderBody()




                <!-- page end-->
            </section>
        </section>
        <!--main content end-->
    </section>


    <script src="~/js/jquery.js"></script>
    <script src="~/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="~/js/jquery-ui-1.9.2.custom.min.js"></script>
    <!-- bootstrap -->
    <script src="~/js/bootstrap.min.js"></script>
    <!-- nice scroll -->
    <script src="~/js/jquery.scrollTo.min.js"></script>
    <script src="~/js/jquery.nicescroll.js" type="text/javascript"></script>
    <!-- charts scripts -->
    <script src="~/assets/jquery-knob/js/jquery.knob.js"></script>
    <script src="~/js/jquery.sparkline.js" type="text/javascript"></script>
    <script src="~/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.js"></script>
    <script src="~/js/owl.carousel.js"></script>
    <!-- jQuery full calendar -->
    <script src="~/assets/fullcalendar/fullcalendar/fullcalendar.min.js"></script>
    <script type="text/javascript" src="~/assets/ckeditor/ckeditor.js"></script>
    <!--script for this page only-->
    <script src="~/js/calendar-custom.js"></script>
    <!-- custom select -->
    <script src="~/js/jquery.customSelect.min.js"></script>
    <!--custome script for all page-->
    <script src="~/js/scripts.js"></script>
    <!-- custom script for this page-->
    <script src="~/js/sparkline-chart.js"></script>
    <script src="~/js/easy-pie-chart.js"></script>
    <script>

      //knob
      $(function() {
        $(".knob").knob({
          'draw' : function () {
            $(this.i).val(this.cv + '')
          }
        })
      });

      //carousel
      $(document).ready(function() {
          $("#owl-slider").owlCarousel({
              navigation : true,
              slideSpeed : 300,
              paginationSpeed : 400,
              singleItem : true

          });
      });

      //custom select box

      $(function(){
          $('select.styled').customSelect();
      });

    </script>

</body>
</html>
