@{

    Layout = "~/Views/Shared/_UserLayout.cshtml";


}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Day End Flag Check</title>
    <script src="~/Scripts/Chart.js"></script>
    <script>

        var LineChartData =
            {
                labels: [@Html.Raw(ViewBag.M)],
                datasets: [{
                    label: 'Time (In Hours)  ',
                    backgroundColor: "rgba(75,192,192,0.4)",
                    borderWidth: 2,
                    data: [@ViewBag.P]
                }]
            };

            window.onload = function () {
                var ctx1 = document.getElementById("Linecanvas").getContext("2d");
                window.myBar = new Chart(ctx1,
                    {
                        type: 'line',
                        data: LineChartData,
                        options:
                            {
                                scales: {
                                    yAxes: [{
                                        ticks: {
                                            beginAtZero: true,
                                          
                                            max: 24,
                                            
                                        }
                                    }]
                                },
                                title:
                                {
                                    display: true,
                                    text: "Day End Time"
                                },
                                responsive: true,
                                maintainAspectRatio: true
                            }
                    });
            }
    </script>
</head>
<body>
    <div id="page-wrapper">



        <div class="row">

@{
    if (ViewBag.Message1 != null)
    {

        <div class="container col-lg-8">
            <div class="alert alert-success fade in ">
                <button data-dismiss="alert" class="close close-sm" type="button">
                    <i class="icon-remove"></i>
                </button>
                <strong>Thank You , @ViewBag.Message1</strong>
            </div>
        </div>

        }
    }
            <div class="col-lg-12">
                <h1 class="page-header">Day End DashBoard</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-bank fa-5x"></i>
                            </div>

                            <div class="col-xs-9 text-right">
                                <div class="huge">
                                    @ViewBag.Branch_Code
                                </div>
                                <div>@ViewBag.Branch_Name</div>
                            </div>
                        </div>
                    </div>
                    @{
                        if (ViewBag.Status == "OFF")
                        {
                            <a href="~/Account/AddDayEndStat">
                                <div class="panel-footer">
                                    <span class="pull-left">Send Day End Confirmation</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        }
                        else
                        {
                            <a href="#">
                                <div class="panel-footer">
                                    <span class="pull-left"></span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        }
                    }

                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-tasks fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">@ViewBag.pendingbranch</div>
                                <div>Pending Branch Count</div>
                            </div>
                        </div>
                    </div>
                    <a href="#" >
                        <div class="panel-footer" >
                            <span class="pull-left" >Day End Not Confirmed </span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>

            <!-- /.row -->

            <div class="col-lg-3 col-md-6">
                <div class="panel panel-red">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-reply fa-5x"></i>
                            </div>

                            <div class="col-xs-9 text-right">
                                <div class="huge">
                                    @ViewBag.Status
                                </div>
                                <div>@ViewBag.message</div>
                            </div>
                        </div>
                    </div>
                    @{
                        if (ViewBag.Status == "OFF")
                        {
                            <a href="#">
                                <div class="panel-footer">
                                    <span class="pull-left"></span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        }
                        else
                        {
                            <a href="~/Account/DayEndStatOff">
                                <div class="panel-footer">
                                    <span class="pull-left">Set Day End Flag OFF</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        }
                    }


                </div>
            </div>

        </div>


        <div class="row">
            <div class="col-lg-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bar-chart-o fa-fw"></i>Day End Chart
                        <div class="pull-right">
                            <div class="btn-group">
                                
                            </div>
                        </div>
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body" >
                        <canvas id="Linecanvas"></canvas>
                    </div>
                    <!-- /.panel-body -->
                </div>

            </div>
            <!-- /.col-lg-8 -->
            <div class="col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bell fa-fw"></i> Day End Notifications Panel
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="list-group">

                            @foreach (var item in ViewBag.Data)

                            {


                                <a href="#" class="list-group-item">
                                    <i class="fa fa-bank fa-fw"></i>@item.BranchName
                                    <span class="pull-right text-muted bold">
                                        <em>@item.Request_Time</em>
                                    </span>
                                    <span class="pull-right text-muted small">
                                        <em>@item.Created_By--</em>
                                    </span>
                                </a>

                            }
                        </div>
                        <!-- /.list-group -->

                    </div>
                    <!-- /.panel-body -->
                </div>

            </div>
            <!-- /.col-lg-4 -->
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Pending Branch Details
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        
                                        <th>Branch Code</th>
                                        <th>Branch Name</th>
                                       
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in ViewBag.pendingbranchdetails)
                                    {
                                        <tr>
                                           
                                            <td>@item.BranchCode</td>
                                            <td>@item.BranchName</td>
                                        </tr>
                                    }
                                    
                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-6 -->
         
            <!-- /.col-lg-6 -->
        </div>


    </div>
</body>




</html>

