@model OctaShape.Data.Card_RequestDetail

@{
    ViewBag.Title = "Card Information System - Card Request Details ";
    Layout = "~/Areas/CardInformationSystem/Views/Shared/_AdminLayout.cshtml";
}

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Edit Card Request Detail</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div>
     
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Request_Date)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Request_Date)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Account_No)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Account_No)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Customer_Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Customer_Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EmbossName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EmbossName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Created_By)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Created_By)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Approved_By)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Approved_By)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Branch_Code)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Branch_Code)
            </dd>

            

           

            <dt>
                @Html.DisplayNameFor(model => model.Card_RequestType.Request_Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Card_RequestType.Request_Name)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-primary" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
    </div>