@model OctaShape.Data.Card_RequestDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Card_RequestDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Request_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Request_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmbossName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmbossName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created_By)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created_By)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Approved_By)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Approved_By)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Card_CustomerDetail.Customer_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Card_CustomerDetail.Customer_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Card_Received.Received_By)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Card_Received.Received_By)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Card_Requested.Request_By)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Card_Requested.Request_By)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Card_RequestType.Request_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Card_RequestType.Request_Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
