@model IEnumerable<OctaShape.Data.Card_RequestDetail>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Request_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmbossName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Created_By)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Approved_By)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Card_CustomerDetail.Customer_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Card_Received.Received_By)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Card_Requested.Request_By)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Card_RequestType.Request_Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Request_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmbossName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Created_By)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Approved_By)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Card_CustomerDetail.Customer_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Card_Received.Received_By)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Card_Requested.Request_By)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Card_RequestType.Request_Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
           
        </td>
    </tr>
}

</table>
