@model OctaShape.Data.TicketComment


@{
    if (Convert.ToBoolean(Session["IsAdmin"]) == true)
    {

        Layout = "~/Areas/eTicketSystem/Views/Shared/_AdminLayout.cshtml";
    }
    else

    {

        Layout = "~/Areas/eTicketSystem/Views/Shared/_UserLayout.cshtml";
    }
}



<div id="wrapper">


    <div class="row">


        <div class="col-lg-12">

            <div class="panel panel-default">
                <div class="profile-widget profile-widget-info ">

                    <b class="col-lg-4 col-sm-4">Ticket # : @ViewBag.TicketDetails.id</b><b class="col-lg-4 col-sm-4 ">Assigned By :@{ if (@ViewBag.TicketDetails.AssignedBy == null)
                        {
                            <b> Not Assigned</b>
                        }
                        else
                        {
                            @ViewBag.AssignedBy
                        }
                    }</b>

                    <br />
                    <b class="col-lg-4 col-sm-4 follow-info">Ticket Title : @ViewBag.TicketDetails.Title</b> <b class="col-lg-8 col-sm-8 follow-info"> Ticket Create By : @ViewBag.TicketDetails.User1.UserName</b>

                    <br />
                    <b class="col-lg-4 col-sm-4 follow-info"> Ticket Status : @ViewBag.TicketDetails.TicketStatus.TicketStatus1</b><b class="col-lg-8 col-sm-8 follow-info"> User Email Id : @ViewBag.TicketDetails.User1.Email</b>

                    <br />
                    <b class="col-lg-4 col-sm-4 follow-info"> Ticket Priority : @ViewBag.TicketDetails.TicketPriority.TicketPriority1 </b><b class="col-lg-8 col-sm-8 follow-info"> Source : Web(Your Ip)</b>

                    <br />
                    <b class="col-lg-4 col-sm-4 follow-info"> Ticket Category : @ViewBag.TicketDetails.TicketCategory.CategoryName</b><b class="col-lg-8 col-sm-8 follow-info"> Last Message On : @ViewBag.TicketDetails.LastEditedOn</b>

                    <br />
                    <b class="col-lg-4 col-sm-4 follow-info"> Ticket Create Date: @ViewBag.TicketDetails.CreatedDate</b>   <b class="col-lg-8 col-sm-8 follow-info">
                        Assigned To : @{ if (@ViewBag.TicketDetails.AssignedTo == null)
                            {
                                <b> Not Assigned</b>
                            }
                            else
                            {
                                @ViewBag.TicketDetails.User.UserName
                            }
                        }
                    </b>
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />

                </div>

                <div class="panel-body">

                    <p>
                        @ViewBag.TicketDetails.Description
                    </p>




                    <!-- /.modal -->
                </div>
                <!-- trian end-->

            </div>

        </div>

        <div class="col-lg-6">

            @using (Html.BeginForm("AddComment", "Comment", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()


                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.id)





                <section class="panel">
                    <header class="panel-heading">
                        Insert Comment
                    </header>
                    <div class="panel-body">
                        <div class="form">

                            <div class="form-group">

                                <div class="col-sm-12">



                                    @Html.TextAreaFor(model => model.TicketComment1, new
                               {

                                   @class = "form-control ",
                                   rows = "6",
                                   placeholder = "Insert Your Comment Here"


                               })
                                    @Html.ValidationMessageFor(model => model.TicketComment1, "", new { @class = "text-danger" })
                                </div>
                            </div>

                        </div>
                    </div>
                </section>





                <div class="form-group">
                    <b><label for="exampleInputFile">Upload Your Image Here:</label></b>
                    <input type="file" id="exampleInputFile3" name="file">

                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-4">
                        <input type="submit" value="Add Comment" class="btn btn-primary" />
                    </div>
                </div>


            }


        </div>

    </div>
    <br />
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                Comments
            </header>
            @foreach (var item in ViewBag.Comments)
            {


                <div class="panel-body">
                    <div class="panel panel-primary" style="border:thin">
                        <div class="panel-heading">@item.CommentBy   on @item.CommentDate</div>
                        <div class="panel-content">@item.TicketComment</div>
                        @{
                            if (@item.ImageOn != null)
                            {
                                <span class="profile-ava">
                                    <a href="~/img/Comment_Image/@item.ImageOn" target="_blank">
                                        <!-- Call User Image in this box-->
                                        <img alt="" src="~/img/Comment_Image/@item.ImageOn" height="40" width="40"> Click on Image to Enlarge
                                    </a>
                                </span>
                            }
                            else
                            {
                                <p style="font-size:x-small">No Attachment Available</p>;
                            }
                        }




                    </div>

                </div>





                            }

        </section>
    </div>


</div>









