@model OctaShape.Data.TicketComment


@{
    if (Convert.ToBoolean(Session["IsAdmin"])== true)
    {
        
        Layout = "~/Areas/eTicketSystem/Views/Shared/_AdminLayout.cshtml";
    }
    else

    {
       
        Layout = "~/Areas/eTicketSystem/Views/Shared/_UserLayout.cshtml";
    }
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
 
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- Bootstrap Core CSS  -->

    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- MetisMenu CSS -->
    <link href="~/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="~/css/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="~/vendor/morrisjs/morris.css" rel="stylesheet">

   

    <!-- Custom Fonts -->
    <link href="~/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">


        <div class="row">

            <!-- Ticket details on left side -->
            <div class="col-lg-6">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <b>Ticket Subject :</b> @ViewBag.TicketDetails.Title
                        <br />
                        <br />
                        <br />
                        <b> Ticket Description</b>
                    </div>

                    <div class="panel-body">

                        <p>
                            @ViewBag.TicketDetails.Description


                            <br />
                            <br />



                            <!-- /.modal -->
                    </div>
                    <!-- trian end-->

                </div>
                <div class="panel-footer">
                    @ViewBag.TicketDetails.CreatedDate
                </div>


                @using (Html.BeginForm("AddComment", "Comment", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()


                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.id)

                    <div class="form-group">



                        @Html.TextAreaFor(model => model.TicketComment1, new { htmlAttributes = new { @class = "form-control ckeditor" } })
                        @Html.ValidationMessageFor(model => model.TicketComment1, "", new { @class = "text-danger" })

                    </div>

                    <div class="form-group">
                        <label for="exampleInputFile">File input</label>
                        <input type="file" id="exampleInputFile3" name="file">

                    </div>

                   




                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-4">
                            <input type="submit" value="Add Comment" class="btn btn-primary" />
                        </div>
                    </div>


                }

              
            </div>







            <div class="col-lg-6">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-clock-o fa-fw"></i> Responsive Ticket Timeline
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <ul class="timeline">



                            @foreach (var item in ViewBag.Comments)
                            {
                                if (item.id % 2 == 0)
                                {
                                    <li>
                                        <div class="timeline-badge">
                                            <i class="fa fa-check"></i>
                                        </div>
                                        <div class="timeline-panel">
                                            <div class="timeline-heading">
                                                <h3 class="timeline-title">@item.CommentBy : Says</h3>
                                                <p>
                                                    <small class="text-muted"><i class="fa fa-clock-o"></i> @item.CommentDate - </small>
                                                </p>
                                            </div>
                                            <div class="timeline-body">
                                                <p>@item.TicketComment</p>
                                            </div>

                                            <p>
                                                <div class="follow-ava">
                                                    <a href= "http://localhost:25586/img/Comment_Image/@item.ImageOn" target="_blank"> <img src="../../../../img/Comment_Image/@item.ImageOn" alt="" height="20" width="20" class="simple"></a>
                                                </div>
                                            </p>

                                        </div>
                                    </li>
                                }
                                else
                                {

                                    <li class="timeline-inverted">
                                        <div class="timeline-badge warning">
                                            <i class="fa fa-credit-card"></i>
                                        </div>
                                        <div class="timeline-panel">
                                            <div class="timeline-heading">
                                                <h4 class="timeline-title">@item.CommentBy : Says</h4>
                                                <p>
                                                    <small class="text-muted"><i class="fa fa-clock-o"></i> @item.CommentDate - </small>
                                                </p>
                                            </div>
                                            <div class="timeline-body">
                                                <p>@item.TicketComment</p>

                                            </div>


                                            <p>
                                                <div class="follow-ava">
                                                    <a href="http://localhost:25586/img/Comment_Image/@item.ImageOn" target="_blank" ><img src="../../../../img/Comment_Image/@item.ImageOn" alt="" height="20" width="20" class="simple"></a>
                                                </div>
                                            </p>
                                        </div>
                                    </li>

                                }
                            }
                        </ul>



                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>

        </div>

    </div>




    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="~/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="~/vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="~/vendor/raphael/raphael.min.js"></script>
    <script src="~/vendor/morrisjs/morris.min.js"></script>
    <script src="~/data/morris-data.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="~/js/sb-admin-2.js"></script>

    <!-- ck editor-->
    <script src="~/assets/ckeditor/ckeditor.js"></script>
</body>















</html>
