@model OctaShape.Data.TicketBranch

@{
    ViewBag.Title = "Delete Branch";
    Layout = "~/Areas/eTicketSystem/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                @ViewBag.Title
            </header>
            <div class="panel-body">
                <div>
                   
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.BranchName)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.BranchName)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.IsActive)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.IsActive)
                        </dd>

                    </dl>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-actions no-color">
                            <input type="submit" value="Delete" class="btn btn-primary" /> |
                            @Html.ActionLink("Back to List", "Index")
                        </div>
                    }
                </div>

            </div>
        </section>
    </div>
</div>