

<div class="top-nav notification-row">
    <!-- notificatoin dropdown start-->
    <ul class="nav pull-right top-menu">

        <!-- task notificatoin start -->
        <li id="mail_notificatoin_bar" class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                <i class="icon-envelope-l"></i>
                <span class="badge bg-important">  @ViewBag.Ticketcount  </span>
            </a>
            <ul class="dropdown-menu extended inbox">
                <div class="notify-arrow notify-arrow-blue"></div>
                <li>
                    <p class="blue"></p>
                </li>


                @foreach (var item in ViewBag.PendingTickets)
                {


                    <li>
                        <a href="~/eTicketSystem/Comment/GetTicket/@item.id">
                            <span class="subject">
                                <span class="from">@item.Title</span>
                                <span class="time">@item.AssignedBy</span>
                            </span>
                            <span class="message">
                                @item.Description
                            </span>
                        </a>
                    </li>
                }
                <li>
                    <a href="../Admin/ViewMyTicket">See all Pending Tickets</a>
                </li>

            </ul>


        </li>




        <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                <span class="profile-ava">

                    <!-- Call User Image in this box-->
                    <img alt="" src="~/img/avatar1_small.jpg">

                </span>

                <!--Call Username on this box-->

                <span class="username"> @((ViewBag.UserDetails as ICollection<OctaShape.Data.GetAllUserDetails_Result>).First().UserName) </span>

                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu extended logout">
                <div class="log-arrow-up"></div>
                <li class="eborder-top">
                    <a href="../Profile/MYProfile"><i class="icon_profile"></i> My Profile</a>
                </li>


                <li>
                    @Html.ActionLink("Log Out", "Logoff", "../Login", null, new { htmlAttributes = new { @class = "icon_key_alt" } })

                </li>
                <li>
                    @Html.ActionLink("Change Password", "ChangePassword", "../Account", null, new { htmlAttributes = new { @class = "icon_key_alt" } })

                </li>
                <li>
                    @Html.ActionLink("My Tickets", "ViewMyTicket", "User", null, new { htmlAttributes = new { @class = "icon_key_alt" } })


                </li>

            </ul>
        </li>
    </ul>
    <!-- user login dropdown end -->
    <!-- notificatoin dropdown end-->
</div>