@model IEnumerable<OctaShape.Data.Ticket>

@{
    ViewBag.Title = "My Ticket List";
    Layout = "~/Areas/eTicketSystem/Views/Shared/_UserLayout.cshtml";
}


<h2>List Of Ticket Issued By Me</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.LastEditedOn)
        </th>


        <th>
            @Html.DisplayNameFor(model => model.TicketCategory.CategoryName)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.TicketPriority.TicketPriority1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TicketStatus.TicketStatus1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssignedTo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssignedBy)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.LastEditedOn)
            </td>


            <td>
                @Html.DisplayFor(modelItem => item.TicketCategory.CategoryName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.TicketPriority.TicketPriority1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketStatus.TicketStatus1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserName)
            <td>
                @Html.DisplayFor(modelItem => item.User1.UserName)
            </td>
            <td>
                @Html.ActionLink("Expand", "GetTicket", "Comment", new { id = item.id }, null)

            </td>
        </tr>
    }

</table>

