@model OctaShape.Data.Card_RequestType

@{
    ViewBag.Title = "Card Information System - Card Request Type ";
    Layout = "~/Areas/CardInformationSystem/Views/Shared/_AdminLayout.cshtml";
}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Delete Card Request Type</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>

 
    <div>
        
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Request_Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Request_Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Request_Charge)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Request_Charge)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</div>