@model OctaShape.Data.Card_RequestType

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Card_RequestType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Request_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Request_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Request_Charge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Request_Charge)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Request_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
