@model IEnumerable<OctaShape.Data.Card_RequestType>

@{
    ViewBag.Title = "Card Information System - Card Request Type ";
    Layout = "~/Areas/CardInformationSystem/Views/Shared/_AdminLayout.cshtml";
}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Card Request Type</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    @Html.ActionLink("Add New Request Type", "Create", null, new { @class = "btn btn-primary" })
                </div>
                <div class="panel-body">
                    <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Request_Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Request_Charge)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Request_Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Request_Charge)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Update", "Edit", new { id = item.Request_Id }) |

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
