@model IEnumerable<OctaShape.Data.Card_RequestType>

@{
    ViewBag.Title = "Card Information System - Card Request Type ";
    Layout = "~/Areas/CardInformationSystem/Views/Shared/_AdminLayout.cshtml";
}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Card Request Type</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <p>
        @Html.ActionLink("Add New Request Type", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Request_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Request_Charge)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Request_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Request_Charge)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Request_Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Request_Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Request_Id })
                </td>
            </tr>
        }

    </table>
    </div>